# 1) default registry = public npm
registry=https://registry.npmjs.org/

# 2) only @padrien33 scoped packages → Cloudsmith
@padrien33:registry=https://npm.cloudsmith.io/padrien33/shopify-demo/
nodejs-github-actions-demo:registry=https://npm.cloudsmith.io/padrien33/shopify-demo/
//npm.cloudsmith.io/padrien33/shopify-demo/:_authToken=${CLOUDSMITH_API_KEY}
always-auth=true
