# Tell npm to use your Shopify-demo repo
registry=https://npm.cloudsmith.io/padrien33/shopify-demo/

# Always send auth to that registry
//npm.cloudsmith.io/padrien33/shopify-demo/:_authToken=${CLOUDSMITH_API_KEY}
always-auth=true

